.container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 450px;
  height: 210px;
  
}

.info {
  font-size: 32px;
  text-align: center;
  color: white;
  filter: drop-shadow(-1px 1px 1px red)
}

.disabled {
  opacity: 0.5;
}

.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.step {
  border: 4px solid black;
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 5px dashed red
}